!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Text Comparison Tool
  %body
    %form(action="/compare" method="post")
      %br
      %label(for="original") Original Text:
      %textarea(name="original")= session[:original]
      %br
      %label(for="modified") Modified Text:
      %textarea(name="modified")= session[:modified]
      %br
      %input(type="submit" value="Compare")

    - if @result
      .comparison-result
        %h2 Comparison Result:
        != @result
